
body {
    
    background-image: linear-gradient(270deg, #e9f0f5 0%, rgb(32, 155, 236) 100%);
    float: left;
    margin: 0 auto;
    width: 960px;
    
       
}

header {
    
    background-image: linear-gradient(270deg, #e9f0f5 0%, rgb(32, 155, 236) 100%);
    float: left;
    text-align : center;
    box-shadow: 0px 0px 50px rgb(253, 253, 253);
    
    
}


img {

    height:112px;
    border-radius: 100px;
    float: left;
    object-fit:scale-down;
    text-shadow: 5px;
    width:100px;
    margin-left: 200px;
    box-shadow: 3px 3px 2px rgb(239, 243, 245);
}

#edu {

      
    box-shadow: 3px 3px 5px rgb(239, 243, 245);
    text-shadow: 3px 3px 5px rgb(239, 243, 245);
    float: left;
    font-size: 20px;
    height:50px;
    margin-left: 180px;
    object-fit:scale-down;
    padding: 10px;
    width:50px;
    
    
}



footer {
    
    color:rgb(179, 0, 0); 
    margin-left: 110px;
    float: left;
    width: 900px;
}


ol {
    column-count: 2;
    column-rule: dotted 1px #333;
    list-style-type: none;
    text-align: center;
    margin: 0px; 
    padding: 0px;
   
    width: 1000px;
}

#fun > ul {
    list-style-type: square  ;
    margin-left: 200;
    padding-left: 300px;
    
    top: 0;
    text-align: left;
}
  
#fun > li {
    
    padding-left: 200;
    
}
  
#fun > li a {
    display: block;
    color: rgb(17, 150, 226);
    text-shadow: 5px 5px 1px rgb(253, 253, 253);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
#fun > li a:hover {
    text-shadow: 1px 1px 5px rgb(247, 246, 246);
    font-size: 20px;
    border-radius: 40px;
    color: rgb(238, 242, 245);
    transition: 2s all;

}

#current {

    color: rgb(20, 19, 19);
    font-family: 'Baloo Tamma', cursive;
    text-shadow: 5px 5px 5px rgb(48, 152, 236);
}

#work {
    
    font-family: 'Baloo Tamma', cursive;
    list-style-type: square  ;
    margin-left: 200;
    padding-left: 300px;
    color: rgb(10, 2, 2);
    top: 0;
    text-align: left;
    text-shadow: 1px 1px 3px rgb(247, 246, 246);
}
  

#work > li {
    
    padding-left: 2px;

}

#skills{

    margin-top: 100px;
}

canvas {

    
    border: dotted 2px, black;
    font-family: 'Audiowide', cursive;
    margin-left: 50px; 
    margin-bottom: 20px;
    width:50px;
    height: 50px;
    float: left;
    
}


dl {
    text-align: left;
    padding-left: 200px;
}

dt {
    text-align: left;
    padding-left: 100px;
    font-family: 'Audiowide', cursive;
}

dd {
    text-align: left;
    font-family: 'Baloo Tamma', cursive;
    padding-left: 200px;
    color: red;
    text-shadow: 1px 1px 3px rgb(247, 246, 246);
}

h1 {
    font-family:'Audiowide', cursive;
    color:rgb(58, 146, 248); 
    display: inline;

    margin-left:400px;
    padding-top: 100px;
    
    
       
    border-color: rgb(15, 118, 235);
    border-spacing: 2px;
    
}
h3 {
    font-family:Arial, Helvetica, sans-serif; 
    color:black; 
    text-align: center;
    margin-top: 40px;
    padding: 0px;
    border-color: black;
    border-spacing: 2px;
    width: 1000px;

}

h4 {
    font-family:Arial, Helvetica, sans-serif; 
    color:black; 
   
    text-align: left;
    margin-left: 0px;
    width: 500px;
    border-color: black;
    border-spacing: 2px;
    
}

h5 {
    font-family:Arial, Helvetica, sans-serif; 
    color:black; 
   
    text-align: left;
    margin-left: 170px;
    width: 700px;
    border-color: black;
    border-spacing: 2px;

}
    
h6 {
    font-family:Arial, Helvetica, sans-serif; 
    color:black; 
    margin-left: 5px;
    text-align: left;
    width: 300px;
   
    
    
}

p {
    font-family:'Baloo Tamma', cursive;
    color:rgb(3, 26, 53); 
    width: 900px;
    border-color: black;
    border-spacing: 2px;
    text-align: justify;
    padding-left: 180px;
    text-shadow: 1px 1px 3px rgb(247, 246, 246);
    
}
ul.sidenav {
    background: rgb(32, 155, 236);
    color: rgb(12, 109, 201);
    list-style-type: none;
    float: left;
    font-family: 'Cabin Sketch', cursive;
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 150px;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
ul.sidenav li a {
    display: block;
    color: linear-gradient(270deg, #6bbaee 0%, rgb(247, 247, 247) 100%);
    padding: 16px 16px;
    text-decoration: none;
}
   
ul.sidenav li a.active {
    background: rgb(247, 247, 247);
    color: rgb(12, 109, 201);
}
  
ul.sidenav li a:hover:not(.active) {
    background: rgb(32, 155, 236);
    border: 6px rgb(139, 198, 243);
    text-shadow: 1px 1px 5px rgb(247, 246, 246);
    border-radius: 40px;
    color: rgb(238, 242, 245);
    transition: 2s all;
}

header > p {

    font-family: 'Baloo Tamma', cursive;
    width: 800px;
    margin-left: 100px;
    text-align: center;
    text-shadow: 1px 1px 3px rgb(247, 246, 246);
}

font-family: 'Pacifico', cursive;
font-family: 'Kalam', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Jacques Francois Shadow', cursive;
font-family: 'Monofett', cursive;
font-family: 'Griffy', cursive;
font-family: 'Revalia', cursive;
font-family: 'Dorsa', sans-serif;
font-family: 'Nosifer', cursive;
font-family: 'Sirin Stencil', cursive;
font-family: 'Baloo Tamma', cursive;
font-family: 'Gugi', cursive;
font-family: 'Uncial Antiqua', cursive;
font-family: 'Londrina Outline', cursive;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Frijole', cursive;
font-family: 'Vast Shadow', cursive;
font-family: 'Six Caps', sans-serif;
font-family: 'Fredericka the Great', cursive;